.template-preview-dialog {
  width: 800px;
  padding-bottom: 0 !important;
  .el-dialog__header, .el-dialog__footer {
    display: none;
  }
  .el-dialog__body {
    border-radius: 8px;
    padding: 0;
    .template-preview-body {
      display: flex;
      height: 480px;
      overflow: hidden;
      .template-preview-img {
        flex: 3;
        background-color: var(--s-border-color);
        img {
          width: 320px;
          height: 100%;
        }
      }
      .template-preview-context {
        flex: 2;
        display: flex;
        padding: 16px;
        flex-direction:column ;
        // overflow: hidden;
        .preview-context-header {
          flex: 15;
          max-height: 61px;
          overflow: hidden;
          .context-header-act {
            display: flex;
            position: relative;
            overflow: hidden;
            max-width: 288px;
            font-size: 14px;
            line-height: 20px;
            color: var(--s-text-color-3);
            text-align: start;
            white-space: nowrap;
            word-wrap: normal;
            text-overflow: ellipsis;
            justify-content: space-between;
            .preview-icon-close {
              font-size: 16px;
              &:hover {
                color: @button-hover-color;
                cursor: pointer;
              }
            }
            .context-header-title {
              margin-bottom: 4px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              position: relative;
              color: var(--s-text-color-3);
              font-size: 14px;
              cursor: pointer;
              padding-right: 24px;
              .card-title-icon {
                  bottom: 5px;
                  right: 10px;
                  position: absolute;
              }
              &:hover {
                color: @button-hover-color;
                cursor: pointer;
              }
            }
          }
          .context-content-title {
            text-align: justify;
            hyphens: auto;
            overflow: hidden;
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            max-width: 288px;
            overflow: hidden;
            text-align: start;
            white-space: nowrap;
            word-wrap: normal;
            text-overflow: ellipsis;
          }
        }
        .preview-context-body {
          flex: 70;
          margin: 11px 0 12px 0;
          max-height: 316px;
          overflow-y: auto;
          .el-form-item {
            margin: 0;
            .el-form-item__label {
              padding: 0;
              font-size: 14px;
            }
            .el-form-item__content {
              word-break: break-all;
              text-align: left;
              font-size: 14px;
              .el-tag--danger {
                background: #ffecf2;
                color: var(--s-brand-b-sub-color);
                border-radius: 4px;
                border: none;
              }
              .context-body-no-custom {
                margin-right: 4px;
                background-color: #F1F2F4;

                .el-tag__content {
                    max-width: 80px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
              }
            
            }
          }
          
        }
        .preview-context-footer {
          flex: 15;
          position: relative;
          .el-dropdown {
            position: initial;
            display: inline-block;
          }
          .context-footer-button {
            width: 72px;
            height: 32px;
            position: absolute;
            bottom: 0;
            right: 8px;
          }
        }
      }
    }
  }
  
}